@model webProject.Models.Salon

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Salon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalismaSaatleri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalismaSaatleri)
        </dd>
    </dl>
    
    <form asp-action="SalSil">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="SalList">Back to List</a>
    </form>
</div>
