@model webProject.Models.Randevu

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RanOlustur" method="post">

            <label>Hizmet</label>
            <select name="hizmetId" asp-items="ViewBag.Hizmetler"></select>

            <label>Tarih & Saat</label>
            <input type="datetime-local" name="baslangicZamani" />

            <button type="submit">Randevu Al</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
